<!DOCTYPE html>
<html>
    <head>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href="/static/style.css" rel="stylesheet" type="text/css"/>
    <h1>SPOTIFY DROP</h1>
    </head>
    
    <body>
        <div class=center>
            <div class="text">
                Do you spend hours making a playlist, just to have your listeners dissapointed? Suffer no longer.
                We at Spotify DROP receive a playlist, keep only the best for your party or dinner, and customize the bass, flows, and jams to please your auditory nerves
            </div>
            <form method="POST">
                <label>Username: </label>
                <input class="authentication" type="text" name="usr">
                <button type="button" onclick = "myFunction()" name="usr"> Login</button>
            </form>
        </div>
    </body>

    <script type="text/javascript">
        function myFunction() {
            
        }
    </script>
</html>
